<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{{ url_for('static', path='/css/innerstyle.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="innerstyle.css" /> -->
    <script type="text/javascript">
      function SelectedTextValue(ele) {
          if (ele.selectedIndex > 0) {
              var selectedText = ele.options[ele.selectedIndex].innerHTML;
              var selectedValue = ele.value;
              document.getElementById("a").value = selectedText;
          }
          else {
              document.getElementById("a").value = "";
          }
      }

      function SelectedTextValue1(ele) {
          if (ele.selectedIndex > 0) {
              var selectedText = ele.options[ele.selectedIndex].innerHTML;
              var selectedValue = ele.value;
              document.getElementById("b").value = selectedText;
          }
          else {
              document.getElementById("b").value = "";
          }
      }
  </script>
  </head>
  <body>
    <div class="main">
     <form method="post" id="myForm">
     <div>

        <label for="a" style="font-size: 20px">Input language:</label>    
        <select name="ddlContent" id="ddlContent" onchange="SelectedTextValue(this)">
            <option selected="selected" value="">Language</option>
            <option selected="selected" value="">Language</option>
            <option value="1">Select Language</option>
            <option value="2">Hindi</option>
            <option value="3">English</option>
            <option value="4">Hindi</option>
            <option value="5">Arabic</option>
            <option value="6">Dutch</option>
            <option value="7">English</option>
            <option value="8">French</option>
            <option value="9">German</option> 
            <option value="10">Greek</option>
            <option value="11">Hungarian</option>
            <option value="12">Italian</option>
            <option value="13">Japanese</option>
            <option value="14">Korean</option>
            <option value="15">Lithuanian</option>
            <option value="16">Persian</option>
            <option value="17">Portuguese</option>
            <option value="18">Russian</option>
            <option value="19">Spanish</option>
            <option value="20">Swedish</option>
        </select>
        <input name="a" type="text" id="a" />
<!--------------------------------------------------------------------------------->
<br><br><br><br>
<label for="b" style="font-size: 20px">Output language:</label>
<select name="ddlContent" id="ddlContent" onchange="SelectedTextValue1(this)">
<option selected="selected" value="">Language</option>
<option value="1">Select Language</option>
<option value="2">Hindi</option>
<option value="3">English</option>
<option value="4">Hindi</option>
<option value="5">Arabic</option>
<option value="6">Dutch</option>
<option value="7">English</option>
<option value="8">French</option>
<option value="9">German</option> 
<option value="10">Greek</option>
<option value="11">Hungarian</option>
<option value="12">Italian</option>
<option value="13">Japanese</option>
<option value="14">Korean</option>
<option value="15">Lithuanian</option>
<option value="16">Persian</option>
<option value="17">Portuguese</option>
<option value="18">Russian</option>
<option value="19">Spanish</option>
<option value="20">Swedish</option>
</select>


</select>
<input name="b" type="text" id="b" />

        <!----
      <label for="a" style="font-size: 20px">Input language:</label>
      <input type="text" name="a" id="a" />
      <label for="b" style="font-size: 20px">Output language:</label>
      <input type="text" name="b" id="b" />-->


      </div>
    </br> </br>
</br>
      <input type="button" value="Start" onclick="submitForm()">
      
     </div>
    </form>
    <div id="responseArea1"></div>
    <div id="responseAre"></div>
   <a href="pdf" download="caption.txt"><input type="button" value="Download"></a>
     
   <a href="speak"><button>speak</button></a>

 
    </div>
   
    <script src="{{ url_for('static', path='/js/permission.js') }}"></script></script>
    <script src="{{ url_for('static', path='/js/innerscript.js') }}"></script></script>
    <!-- <script src="innerscript.js"></script> -->
  </body>
</html>
