<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', path='/css/innerstyle.css') }}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="innerstyle.css"> -->
</head>
<body>
  <div class="main">
    <div class="form">
 <form method="post" id="myForm">
  <div class="labels">
     <label for="a" style="font-size: 20px">Input language:</label>
     <input type="text" name="a" id="a" />
     <div class="responseArea"  id="responseArea1">recognised text</div>
    </div>
<div class="labels">
     <label for="b" style="font-size: 20px">Output language:</label>
     <input type="text" name="b" id="b" />
      <div class="responseArea" id="responseArea2">translated text</div>
    </div>
    <label for="AudioFile">upload PDF</label>
    <input type="file" id="AudioFile">
    <input type="button" value="Start" onclick="submitForm(webaudio_tooling_obj()) ">
   
    </form>

</div>

 
 
  
<div class="form">
  <form method="post" id="myForm">
   <div class="labels">
      <label for="a" style="font-size: 20px">Input language:</label>
      <input type="text" name="a" id="a" />
      <div class="responseArea"  id="responseArea1">recognised text</div>
     </div>
 <div class="labels">
      <label for="b" style="font-size: 20px">Output language:</label>
      <input type="text" name="b" id="b" />
       <div class="responseArea" id="responseArea2">translated text</div>
     </div>
     <label for="AudioFile">upload image</label>
     <input type="file" id="AudioFile">
     <input type="button" value="Start" onclick="submitForm(webaudio_tooling_obj()) ">
    
     </form>
 
 </div>
   </div>


 
  <script src="permission.js"></script>
  <script src="innerscript.js"></script>

</body>
</html>